body{
  padding: 20px;
}
h1 {
  font-family: helvetica;
  font-size: 30px;
  color: #333333;
  font-weight: 200;
}
p {
  font-family: helvetica;
  font-size: 16px;
  color: #888888;
  font-weight: 200;

}

li {
  font-family: helvetica;
  font-size: 16px;
  color: #888888;
  font-weight: 200;

}

a {
  font-family: helvetica;
  font-size: 16px;
  color: #33cccc;
  font-weight: 200;
  text-decoration: none;

}
